body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(226, 225, 225);
}

/* Begin Debugging Code */


header, main, main section {
    border: solid 2px rgb(226, 225, 225);
}

.logo {
    font-size: 2em;
    font-weight: normal;
}


#topnav {
    position: fixed;
    z-index: 2;
    width: 100vw;
    top: 0;
    left: 0;

    height: 60px;
    padding: 5px 20px;
    margin-bottom: -6\10px;

    background: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

main {
    margin-top: 60px;
}

aside {
    position: fixed;
    \background-color: #CCC;
    top: 60px;
    left: 60vw;
    width: 40vw;
    min-height: 400px;
}

.aside-header{
    display: flex;
    align-items: center;
}

.aside-header img{
    margin-right: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px #000;
}

.news-feed section {
    min-height: 300px;
}


#suggestion
{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px; 
    margin-left: 10px;
}

#sugg-followers {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sugg-followers img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-left: 10px;
}

#text {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 10px;

}
#text h1, #text p {
    margin: 0;
    margin-bottom: 2px;
}

#follow {
    margin-left: 20px;
}

#sign-out {
    color: cadetblue;
}

#story{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    background-color: white;
    position: relative;
    left: 15%;
    width: 600px;
    height: 120px;
    
}

#story-card{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    padding: 10px;
}
#follow{
    color: cadetblue;
    text-decoration: none;
}

#story-card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
    border: 3px solid #CCC;
}

#text-story {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

section{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

#heading{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding-left: 10px;
}

a.signout {
    color: cadetblue;
    text-decoration: none;
    padding-left: 10px;
  }

#heading i
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 460px;
}

section img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 596px;
}
#interact{
    display: flex;
    align-items: left;
    justify-content: left;
}

#bookmark{
    display: flex;
    align-items: right;
    justify-content: right;
    padding-left: 435px;
}

#posts{
    flex-direction: column;
    justify-content: left;
    align-items: left; 
    background-color: white;
    width: 600px;
    position: relative;
    left: 15%;
}

.fa-heart, .fa-comment, .fa-paper-plane, .fa-bookmark{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 15px;
  }

#likes{
    padding-left: 15px;
    margin-bottom: -15px;
}

#comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  #username {
    margin-right: 10px;
  }

  #time-passed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    color: #CCC;
  }

  h2 {
    margin-bottom: 1em;
    margin-top: 10px;
    border-bottom: 1px solid #CCC;
    color: #000;
    font: normal 150%/1.5 sans-serif;
    }

    .fa-smile{
        font-size: 25px;
        margin-left: 18px;
    }

    #comment-box #interact{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }
     
    #post {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 43vh;
        color:cornflowerblue;
        text-decoration: none;
    }

    #interact #comment {
        display: flex;
        flex-direction: row;
        text-emphasis: 0;
        align-items: center;
        white-space: nowrap;
        padding-left: 15px;
        color: #CCC;
    }
    
@media (max-width: 800px) {

    aside {
        display: none;
    }

    #posts{
        display: flex;
        position: relative;
        left: 4%;
    }

    #story{
        display: flex;
        position: relative;
        left: 4%;
    }
    
}